---
layout: front_page
Xcontent_path: 
---
<div class="front-page">
  <div class="text-light d-flex h-100 align-items-end justify-content-center">
    <div class="hero">
      <small class="small"><span id="debug"></span></small>
      <h3>if you can't reach us we've probably</h3>
      <h1>Gone Sailing !</h1>
    </div>
  </div>
</div>

 <main role="main">

   <!-- Marketing messaging and featurettes
   ================================================== -->
   <!-- Wrap the rest of the page in another container to center all the content. -->

   <div class="container marketing">

     <!-- Three columns of text below the carousel -->
     <div class="row">

      <div class="col-lg-4">
          <a href="{{ site.baseurl }}{% link _post-categories/cruising.md %}">
            <img class="rounded-circle" src="{{ 'beaulieu-river.jpg' | content_url:'thumbs' }}" alt="Generic placeholder image" width="140" height="140">
          </a>          
         <h2>Cruising</h2>
         <p class="h-25">The reason for doing what we do. Nothing better than visiting wonderful new places and
           enjoying fun new experiences all by sailboat. </p>
         <p><a class="btn btn-secondary" href="{{ site.baseurl }}{% link _post-categories/cruising.md %}" role="button">View stories &raquo;</a></p>
       </div><!-- /.col-lg-4 -->

       <div class="col-lg-4">
          <a href="{{ site.baseurl }}{% link _post-categories/boat-projects.md %}">
            <img class="rounded-circle" src="{{ 'engine.jpg' | content_url:'thumbs' }}" alt="Generic placeholder image" width="140" height="140">
          </a>
         <h2>Boat Projects</h2>
         <p class="h-25">
           It's not all cocktails and sunshine, sometimes you have to get your
           hands dirty. We try to do as much DIY boat work as we can.
         </p>
         <p><a class="btn btn-secondary" href="{{ site.baseurl }}{% link _post-categories/boat-projects.md %}" role="button">View stories &raquo;</a></p>
       </div><!-- /.col-lg-4 -->

       <div class="col-lg-4">
        <a href="{{ site.baseurl }}{% link _post-categories/boat-buying.md %}">
          <img class="rounded-circle" src="{{ 'anika-launch-day.jpg' | content_url:'thumbs' }}" alt="Generic placeholder image" width="140" height="140">
        </a>
         <h2>Boat Buying</h2>
         <p class="h-25">
           Buying a boat can be a scary process if you have never done it
           before. We'll share our experiences and lessons learned with you.
         </p>
         <p><a class="btn btn-secondary" href="{{ site.baseurl }}{% link _post-categories/boat-buying.md %}" role="button">View stories &raquo;</a></p>
       </div><!-- /.col-lg-4 -->

     </div><!-- /.row -->


     <!-- START THE FEATURETTES -->
     {% assign sorted_posts = site.posts | sort:date | reverse %}
     {% for post in sorted_posts limit:5 %}

      {%- include post_vars.html obj=post -%}
      {%- assign image = post.images[0].file | content_url:"500x500",post  %} 

      {% include featurette.html 
          heading=post.title 
          subheading=post.subtitle 
          body=post.excerpt 
          image= image
          misc=post_date_long 
          url=post.url %}
    {% endfor %}

<!--

     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-7">
         <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
         <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
       </div>
       <div class="col-md-5">
         <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
       </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-7 order-md-2">
         <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
         <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
       </div>
       <div class="col-md-5 order-md-1">
         <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
       </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-7">
         <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
         <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
       </div>
       <div class="col-md-5">
         <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
       </div>
     </div>

     <hr class="featurette-divider">
    -->

     <!-- /END THE FEATURETTES -->

   </div><!-- /.container -->

 </main>
