---
layout: default
---
<main role="main">

  <div class="container" style="margin-top:80px;">

    <div class="row">
      
      <div class="col">
          <h1 class="text-uppercase">{{page.title}}</h1>
          <p class="font-italic">{{page.sub-title}}</p>
  
          {{ content }}
  
      </div>
    </div>
    
    <div class="row">
      
      <!-- <div class="card-deck"> -->
        
            {% assign sorted_posts = site.categories[page.slug] | sorted:'date' | reversed %}
            {% for post in  sorted_posts %}
              {%- include post_vars.html obj=post -%}
              {% assign image_url = post.images[0].file | content_url:'500x500', post %}
              {% assign misc_text = post_date_long | append: " by " | append: post_author %}
          
              <div class="col-xl-3 col-md-4 col-sm-6 mb-3">
                {% include card.html 
                  heading=post.title
                  image=image_url
                  body=post.excerpt 
                  misc=misc_text
                  link=post.url
                %}
              </div>
            {% else %}
            <div class="col">
                <p>No posts in the {{page.slug}} category yet...</p>
            </div>
            {% endfor %}
        
     <!-- </div>  card-deck -->
    </div>
<!--
    <div class="row">
      <div class="col">
      {% if page.banner-image %}
      <img src="{{site.baseurl}}/images/{{page.banner-image}}" class="img-fluid mt-3">
      {% else %}
      <img class="img-fluid mt-3" data-src="holder.js/800x450/auto" alt="Generic placeholder image">
      {% endif %}
    </div>
    </div> < !-- row -- >
  -->
  </div> <!-- container -->

</main>



  <style>
    :target::before {
      content: "";
      display: block;
      height: 60px; /* fixed header height*/
      margin: -60px 0 0; /* negative fixed header height */
    }
  </style>
