<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
    <title>
      {{ site.name }} 
      {% if page.title %}
        {{ page.title | prepend:' - ' }}
      {% endif %}
    </title>
  </head>
  <body>
    <script type="text/javascript" src="{{site.baseurl}}/assets/vendor/jquery.slim.min.js"></script>
    {% include page_header.html %}
    {{ content }}
    {% include page_footer.html %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script type="text/javascript" src="{{site.baseurl}}/assets/vendor/jquery.slim.min.js"></script> -->
    <script type="text/javascript" src="{{site.baseurl}}/assets/vendor/popper.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/vendor/holder.min.js"></script>
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </body>
</html>
