<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/main.css">

    <title>Hello, world!</title>
  </head>
  <body>
    {% include page_header.html %}
    {{ content }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./assets/vendor/jquery.slim.min.js"></script>
    <script src="./assets/vendor/popper.min.js"></script>
    <script src="./assets/vendor/bootstrap.min.js"></script>
  </body>
</html>
