---
layout: default
---
---
{% include post_vars.html obj=page %}

<div class="container" style="margin-top:80px;">
  <div class="row">

    <main class="col-md-12 col-lg-9" >
    <h1 style="font-family: 'Permanent Marker', cursive;">{{page.title}}</h1>
    <h2 class="font-weight-light">{{page.subtitle}}</h2>
    <p class="font-small">{{ post_date_long }} {{ page.date | timeago }} by {{ page.author | default: 'Martin' }}</p>
    <img class="img-fluid mb-3" src="{{ page.images[0].file | content_url:'250x250' }}" alt="{{ page.images[0].title }}" style="max-height: 250px; object-fit: cover;">
    {{ content }}
  </main>


  <nav class="col bg-light" id="sidebar" style="max-width:285px;">
    <div>{{post_tags}}</div>
    <div class="list-group list-group-flush">
      <div id="dynamic-section">
        <!-- <li class="list-group-item">What to expect</li> -->
      </div>
      <a href="#" class="list-group-item list-group-item-action p-2">back to top</a> 
    </div>
  </nav>

</div> <!-- row -->
</div> <!-- container-fluid -->

<script>
  $(document).ready(function(){
    $("h3").each(function(index){
      $('#sidebar .list-group #dynamic-section').append('<a class="list-group-item list-group-item-action p-2 font-weight-light text-truncate" href="#'   
        + $(this).attr('id') 
        + '">'
        + '<small>' 
        + $(this).text() 
        + '</small>'
        + "</a>")
    });
  });
  </script>
