---
layout: default
---
{% include post_vars.html obj=page %}

<div class="container" style="margin-top:80px;">
    <div class="row">


      <main class="col col-lg-8">
        <h1 style="font-family: 'Permanent Marker', cursive;">{{page.title}}</h1>
        <h2 class="font-weight-light">{{page.subtitle}}</h2>
        <p class="font-small">{{ post_date_long }} {{ page.date | timeago }} by {{ page.author | default: 'Martin' }}</p>
        <!-- include img.html class="img-fluid mb-3" src=post_image baseurl=page.content_baseurl format="250x250" alt=page.title %} -->
        {{ content }}
      </main>

      <div class="d-none d-print-none d-lg-block col offset-lg-8 fixed-top pl-0" id="sidebar" style="margin-top:80px" >
        <div>
          {{post_tags}}
        </div>
        <div class="list-group list-group-flush">
          <div id="dynamic-section">
            <!-- <li class="list-group-item">What to expect</li> -->
          </div>
          <a href="#" class="list-group-item list-group-item-action p-2">back to top</a> 
        </div>
      </div>

    </div>

  </div>

  <style>
    :target::before {
      content: "";
      display: block;
      height: 60px; /* fixed header height*/
      margin: -60px 0 0; /* negative fixed header height */
    }
  </style>

  <script>
    $(document).ready(function(){
      $("h3").each(function(index){
        $('#sidebar .list-group #dynamic-section').append('<a class="list-group-item list-group-item-action p-2 font-weight-light text-truncate" href="#'   
          + $(this).attr('id') 
          + '">' 
          + $(this).text() + "</a>")
      });
    });
    </script>