---
layout: default
---
{% include post_vars.html obj=page %}
<div class="container" style="margin-top:80px;">
    <div class="row">

      <div class="d-none d-print-none d-lg-block col-lg-3 fixed-top" id="sidebar" style="margin-top:80px" >
        <div>
          {{post_tags}}
        </div>
        <div class="list-group list-group-flush">
          <div id="dynamic-section">
            <!-- <li class="list-group-item">What to expect</li> -->
          </div>
          <a href="#" class="list-group-item list-group-item-action">back to top</a> 
        </div>
      </div>

      <main class="col offset-lg-3">
        <h1 class="text-uppercase">{{page.title}}</h1>
        <p class="font-italic">{{page.sub-title}}</p>
        {% assign name = page.date | date: '%Y-%m-%d-' | append: page.slug %}
        {% assign image = site.imagesurl | append: "/posts/" | append: name | append: "/" | append: page.image %}        
        <img src="{{ image }}" class="img-fluid mb-3">
        {{ content }}
      </main>

    </div>

  </div>

  <style>
    :target::before {
      content: "";
      display: block;
      height: 60px; /* fixed header height*/
      margin: -60px 0 0; /* negative fixed header height */
    }
  </style>

  <script>
    $(document).ready(function(){
      $("h2").each(function(index){
        $('#sidebar .list-group #dynamic-section').append('<a class="list-group-item list-group-item-action" href="#'   
          + $(this).attr('id') 
          + '">' 
          + $(this).text() + "</a>")
      });
    });
    </script>